<div class="banner container text-center">
  <div class="row">
    <div class="col-md-12">
      <h1>SREQualification</h1>
    </div>
  </div>
</div>

<div class="container text-center align-center">
  <div class="row text-center">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary" routerLink="/add">
        Add an Application
      </button>
      <br />
      <button type="submit" class="btn btn-primary" routerLink="/search">
        Search for an Application
      </button>
      <br />
      <button type="submit" class="btn btn-primary" routerLink="/modify">
        Modify an Application
      </button>
      <br />
      <button type="submit" class="btn btn-primary" routerLink="/delete">
        Delete an Application
      </button>
      <button type="submit" class="btn btn-primary" routerLink="/allinone">
        All In One
      </button>

      <!-- <button type="submit" class="btn btn-primary" href="#" routerLink="/add">
        add Application
      </button> -->
    </div>
  </div>
</div>
