<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form
        #entryForm="ngForm"
        (ngSubmit)="onSubmit()"
        novalidate
        id="entry-form"
      >
        <div class="form-group">
          <label for="APPNAME">Application Name</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="APPNAME"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.appname"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Name is required.</small
          >
        </div>
        <div class="form-group">
          <label for="PERCENTNEW">% New</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="PERCENTNEW"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.percentnew"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Name is required.</small
          >
        </div>
        <div class="form-group">
          <label for="COMPLEXITY">Complexity</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="COMPLEXITY"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.complexity"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Name is required.</small
          >
        </div>
        <div class="form-group">
          <label for="IMPACT">Impact</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="IMPACT"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.impact"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>
        <div class="form-group">
          <label for="BUSINESSCRITICALITY">Business Criticality</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="BUSINESSCRITICALITY"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.businesscriticality"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>

        <div class="form-group">
          <label for="HISTORY">History</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="HISTORY"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.history"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>
        <div class="form-group">
          <label for="RELEASEFREQUENCY">Release Frequency</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="RELEASEFREQUENCY"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.releasefrequency"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>
        <div class="form-group">
          <label for="DEVELOPEDINHOUSE">Developed InHouse</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="DEVELOPEDINHOUSE"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.developedinhouse"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>
        <div class="form-group">
          <label for="SHAREDCOMPONENT">Shared Component</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="SHAREDCOMPONENT"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.sharedcomponent"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>
        <div class="form-group">
          <label for="VOLUME">Volume</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="VOLUME"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.volume"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>
        <div class="form-group">
          <label for="PROVENSCALE">Proven Scale</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="PROVENSCALE"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newEntry.provenscale"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Score required.</small
          >
        </div>

        <button class="btn btn-block" id="login-form-btn" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
