<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form
        #entryForm="ngForm"
        (ngSubmit)="onSubmit()"
        novalidate
        id="entry-form"
      >
        <div class="form-group">
          <label for="APPNAME">Application Name</label>
          <input
            type="text"
            required
            #name="ngModel"
            name="APPNAME"
            class="form-control"
            [class.is-valid]="name.valid"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="newSearch.appname"
            placeholder="Search"
          />
          <small
            class="text-danger"
            [class.d-none]="name.valid || name.untouched"
            >Name is required.</small
          >
        </div>
        <button class="btn btn-block" id="login-form-btn" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="row" id="dashboardRow">
    <div class="col-md-12 text-center addForm">
      <h1>Dashboard</h1>
      <div class="totalScore">
        Total Score <br />
        {{ totalScore }}
      </div>
      <div class="flex-container">
        <div class="scoreTile" id="percNewScoreTile">
          <h5>% New</h5>
          <br />

          <p>{{ percNewScore }}</p>
        </div>
        <div class="scoreTile" id="complexityScoreTile">
          <h5>Compelxity</h5>
          {{ complexityScore }}
        </div>
        <div class="scoreTile" id="impactScoreTile">
          <h5>Impact</h5>
          {{ impactScore }}
        </div>
        <div class="scoreTile" id="bcScoreTile">
          <h5>Business Criticality</h5>
          {{ businessCritScore }}
        </div>
        <div class="scoreTile" id="historyScoreTile">
          <h5>History</h5>
          {{ historyScore }}
        </div>
        <div class="scoreTile" id="releaseFrequencyScoreTile">
          <h5>Release Frequency</h5>
          {{ releaseFreqScore }}
        </div>
        <div class="scoreTile" id="devInHouseScoreTile">
          <h5>Developed Inhouse</h5>
          {{ devInHouseScore }}
        </div>
        <div class="scoreTile" id="sharedCompScoreTile">
          <h5>Shared Component</h5>
          {{ sharedCompScore }}
        </div>
        <div class="scoreTile" id="volumeScoreTile">
          <h5>Volume</h5>
          {{ volumeScore }}
        </div>
        <div class="scoreTile" id="provenScaleScoreTile">
          <h5>Proven Scale</h5>
          {{ provenScaleScore }}
        </div>
      </div>
    </div>
  </div>
</div>
