.addForm {
  border: 5px solid black;
}
.totalScore {
  border: 1px solid black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.scoreTile {
  width: 150px;

  height: 100px;
  text-align: center;
  border: 1px solid black;
}

.inputDataBind {
  display: none;
}
