.addForm {
  text-align: center;
  margin-top: 50px;
}

.searchFormColumn {
  text-align: center;
  margin-top: 50px;
  padding: 0px;
}
.totalScore {
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.searchResultComp {
  border: 2px solid blue;
  padding: 5px;
}
.searchFormFlexContainer {
  display: flex;
  margin: 10px;
}
.searchFormFlexItem {
}

.resultsFlexContainer {
  display: flex;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
}

.appNameResultsItem {
  width: 75%;
}

.results {
  margin: 10px;
  padding: 10px;
}

.addFormFlexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.addFormFlexItem {
  width: 150px;

  height: 100px;
  text-align: center;
}

.scoreTile {
  width: 25%;

  height: 100px;
  text-align: center;
}

.scoreDashboard {
  margin-top: 10px;
  width: 100%;
  border: 2px solid blue;
  text-align: center;
}

.inputDataBind {
  display: none;
}

#dashboard {
  margin-top: 20px;
}

.errorMessage {
  padding: 5px;
  color: red;
}
